@import "reg.variables";

* {
	box-sizing: border-box;
}

body {
	background-image: url(https://fotooboi-spb.ru/media/k2/items/cache/f203d630ce0c3265f9c9461092194e6b_XL.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover; 
}

h1 {
	text-align: center;
	font-size: 37px;
}
.form {
	position: absolute;
	right: 400px;
	margin-top: 50px;
    border-radius: 7px;
    padding: 10px;
    width: $formWidth;
    height: 650px;
    font-family: 'Caveat', cursive;

    label {
    	width: $formWidth;
        margin: 0 30px;
        font-size: 27px;
        text-align: left;
    }

    input {
    	width: $formWidth;
        height: 40px;
        margin: 7px;
        border-radius: 7px;
        border-color: #ffffff;
        box-shadow: 5px 10px 25px #888888;

        &:hover {
        	background-color: #f5ffff;
        }
    }

    input[type=submit] {
    	margin-top: 60px;
    	background-color: $bckColorButton;
    	color: #ffffff;
        border-color: $bckColorButton;
        font-size: 27px;
        font-family: 'Caveat', cursive;

        &:hover {
        	background-color: $bckColorButtonHover;
        }
    }

    @media screen and (max-width: 768px) {
        right: 0;
        left: 0;
    }

    @media screen and (max-width: 768px) {
		margin-left: 30px;
	}
}
